body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#F4F4F4;
}

#im{
  margin:0;
  padding:0;
  top: 0;
  left:0;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:unset;
}
.cad{
  background:#3f4c87 !important;
  color:#ffffff;
  text-decoration:none;
  width:150px;
  height: 150px !important;
}
#sidebar{
  background:#3f4c87;
  color:#ffffff;
  width:15%;
  height:100% !important;
  border-right:red 3px solid;
}

ul{
  margin:0;
  padding:0;
}

h1{

color:#F4F4F4;
border-radius: 25px;
}

.button_1{
  height:38px;
  background:#3F4C87;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:white;
  border-radius:20px;
}
div.cont{
  width: 100%;
  min-height:600px;
  background:url('../images/Train.jpeg') no-repeat;
  background-position: center;
  background-size: cover;
  text-align:center;
  color:#d1dcff;

}

.bton {
						border:none;
						width :100px;
						border-radius:20px !important;
						line-height:0px;
						font-size:25px !important;
						padding:10px 0 !important;
						color:red;
						cursor:pointer;
						font-weight:6px !important;
            height:28px !important;
            background:red !important;
          						}

.bton:hover{
				   color:cyan !important;
				   background:black !important;
				}
.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}
/*.transparent{
				background:rgba(44,62,80,0.7);
				padding:20px;
				width:250px;
				margin-top:45px;
				margin-left:90px;
				margin:0 Auto;
				}

/* Header **/
.heading{
  background:#3f4c87;
  color:#ffffff;
  width:100%;
  border-bottom:red 3px solid;
}

.heading a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

.heading #branding h1{
  margin:0;
}

.heading .highlight, .header .current a{
  color:red;
  font-weight:bold;
}

.heading a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Showcase */


#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
  text-align:center;
  color:red;
}

#transparent {
  align-items: center;

}

#showcase p{
  font-size:20px;
}

/* Newsletter */
#newsletter{
  padding:15px;
  color:#ffffff;
  background:#35424a
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

.foot{
  width:100%;
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#3F4C87 !important;
  text-align: center;
}

/* Media Queries */
@media(max-width: 480px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
    border-radius:20px;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
 box {
  				-webkit-transition: all 1s ease-in-out;

-moz-transition: all 1s ease-in-out;

-o-transition: all 1s ease-in-out;

transition: all 1s ease-in-out;


  				}
}
